<template>
    <input type="text" class="text-input" placeholder="Поиск" @blur="this.blurSearchProp" @focus="this.focusSearchProp">
</template>

<script>
  export default {
    props: ['focusSearchProp', 'blurSearchProp']
  }
</script>

<style lang="scss">
    .text-input {
        border: none;
        outline: none;
        width: 37px;
        margin-left: 5px;
        background-color: #f8f9fa;

        &::-webkit-input-placeholder {
            font-family: SF-UI-Text-Regular;
            font-size: 12px;
            line-height: 1.33;
            color: #2d3440;
        }
    }
</style>
