<template>
    <div class="payment-header">
        <div class="payment-header__price">
            <div class="payment-header__price__text">Сумма</div>
            <div class="payment-header__price__amount">750 грн</div>
        </div>
        <div class="payment-header__description">
            <div class="payment-header__description__time">
                Назначение платежа &nbsp До конца оплаты: 15 мин 33 сек
            </div>
            <div class="payment-header__description__text">
                Счёт №450012. Оплата покупок в интернет-магазине
                (обувь и одежда Grand Frank)
            </div>
        </div>
        <div class="payment-header__wrap-logo">
            <div class="payment-header__logo">
                <svg width="40px" height="14px" viewBox="0 0 40 14" version="1.1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 44.1 (41455) - http://www.bohemiancoding.com/sketch -->
                    <title>asos-logo</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Modal" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="01_mobile-views" transform="translate(-730.000000, -122.000000)" fill="#040404">
                            <g id="w-basic" transform="translate(480.000000, 80.000000)">
                                <g id="header" transform="translate(20.000000, 20.000000)">
                                    <g id="asos-logo" transform="translate(230.000000, 22.000000)">
                                        <g id="asos-com">
                                            <path d="M2.93138889,11.5487037 C3.05027778,11.5087778 3.19194444,11.611963 3.17055556,11.7304444 C3.16583333,11.872 2.95083333,11.9440741 2.8525,11.8351852 C2.75361111,11.7504074 2.79972222,11.5772222 2.93138889,11.5487037 L2.93138889,11.5487037 Z M16.3833333,11.6485185 C16.5566667,11.5235556 16.7916667,11.534963 16.9966667,11.564 C16.9833333,11.6378889 16.9680556,11.7112593 16.9533333,11.7854074 C16.8233333,11.7636296 16.6725,11.7361481 16.5580556,11.8147037 C16.4391667,11.9067407 16.4441667,12.0641111 16.44,12.1945185 C16.5794444,12.1973704 16.7191667,12.1958148 16.8586111,12.1965926 L16.8583333,12.4198148 C16.72,12.4205926 16.5816667,12.4203333 16.4433333,12.4203333 C16.4427778,12.8981481 16.4433333,13.3754444 16.4430556,13.853 C16.3572222,13.8524815 16.2722222,13.853 16.1866667,13.853 C16.1858333,13.375963 16.185,12.8989259 16.1869444,12.4218889 C16.0622222,12.4192963 15.9375,12.4200741 15.8125,12.4198148 C15.8119444,12.345149 15.8119444,12.2704806 15.8125,12.1958148 C15.9369444,12.1958148 16.0613889,12.1963333 16.1863889,12.1942593 C16.1744444,12.0003333 16.21,11.7776296 16.3833333,11.6485185 L16.3833333,11.6485185 Z M21.3125,11.5458519 L21.5702778,11.5458519 C21.5702778,11.8468519 21.5686111,12.1475926 21.5719444,12.4483333 C21.7116667,12.2712593 21.9375,12.1499259 22.1766667,12.1561481 C22.3766667,12.1527778 22.5969444,12.2124074 22.715,12.3728889 C22.8533333,12.5543704 22.8380556,12.7887407 22.8391667,12.9997778 L22.8391667,13.853 C22.7525,13.854037 22.6666667,13.8517037 22.5808333,13.8517037 C22.5811111,13.5473333 22.5822222,13.2424444 22.5802778,12.9385926 C22.5738889,12.7788889 22.565,12.5981852 22.4380556,12.4765926 C22.2588889,12.3308889 21.9708333,12.3485185 21.7913889,12.4851481 C21.6263889,12.6082963 21.5725,12.8141481 21.5705556,13.0028889 C21.5683333,13.286 21.57,13.5691111 21.57,13.8517037 C21.4836111,13.8509259 21.3980556,13.8545556 21.3122222,13.8524815 L21.3125,11.5458519 L21.3125,11.5458519 Z M23.5791667,11.5577778 C23.7011111,11.4955556 23.8666667,11.6028889 23.8433333,11.732 C23.8408333,11.8652593 23.6508333,11.9344815 23.5455556,11.8515185 C23.4375,11.7791852 23.4580556,11.6088519 23.5791667,11.5577778 L23.5791667,11.5577778 Z M35.2583333,11.5575185 C35.3822222,11.4955556 35.5452778,11.604963 35.5222222,11.7345926 C35.5133333,11.8753704 35.2988889,11.9438148 35.2036111,11.8338889 C35.1116667,11.7558519 35.1438889,11.5995185 35.2583333,11.5575185 Z M34.2355556,11.5712593 C34.3213889,11.571 34.4069444,11.5673704 34.4933333,11.5691852 L34.4933333,13.8532593 C34.4077778,13.8527407 34.3225,13.8532593 34.2369444,13.8537778 C34.2347222,13.0928519 34.2377778,12.3314074 34.2355556,11.5712593 Z M3.87916667,12.3106667 C4.06638889,12.1556296 4.33666667,12.1333333 4.57361111,12.173 C4.74694444,12.2022963 4.89305556,12.3096296 4.97777778,12.451963 C4.90194444,12.503037 4.82388889,12.5515185 4.74527778,12.5984444 C4.63138889,12.3664074 4.28083333,12.3015926 4.07472222,12.4631111 C3.96638889,12.5502222 3.98083333,12.7335185 4.11,12.7957407 C4.3475,12.9170741 4.65333333,12.8818148 4.86694444,13.0498148 C5.11472222,13.2323333 5.07555556,13.6401481 4.8025,13.7848148 C4.62472222,13.9004444 4.40027778,13.879963 4.19527778,13.8765926 C3.97222222,13.8721852 3.77527778,13.7381481 3.65361111,13.5706667 C3.72694444,13.5216667 3.80222222,13.475 3.87833333,13.4291111 C4.02527778,13.6603704 4.36722222,13.748 4.61694444,13.6113704 C4.75333333,13.5470741 4.80611111,13.3534074 4.68361111,13.2538519 C4.54527778,13.1467778 4.35638889,13.1397778 4.19055556,13.0954444 C4.01055556,13.0575926 3.81777778,12.9712593 3.7475,12.7998889 C3.69222222,12.6329259 3.73,12.4283704 3.87916667,12.3106667 L3.87916667,12.3106667 Z M5.67,12.4312222 C6.01194444,12.061 6.71166667,12.059963 7.04222222,12.4452222 C6.9725,12.4962963 6.9,12.5437407 6.82944444,12.5945556 C6.63138889,12.3145556 6.16333333,12.3078148 5.92305556,12.5414074 C5.64388889,12.8151852 5.66111111,13.3197037 5.98305556,13.5584815 C6.235,13.7433333 6.64611111,13.7124815 6.83305556,13.4578889 C6.90361111,13.5076667 6.97472222,13.5571852 7.04388889,13.6092963 C6.90277778,13.7467037 6.72027778,13.8698519 6.50916667,13.8758148 C6.2975,13.8848889 6.06972222,13.8942222 5.88333333,13.7832593 C5.38638889,13.522963 5.31194444,12.8211481 5.67,12.4312222 L5.67,12.4312222 Z M14.1313889,12.213963 C14.2786111,12.1437037 14.4502778,12.1507037 14.6097222,12.1698889 C14.5958333,12.25 14.5780556,12.3282963 14.5619444,12.4078889 C14.4497222,12.3957037 14.3325,12.3871481 14.2247222,12.4255185 C14.0138889,12.4965556 13.8752778,12.7026667 13.8722222,12.9082593 C13.8697222,13.2235185 13.8752778,13.539037 13.8697222,13.8537778 C13.7844444,13.8527407 13.6994444,13.8517037 13.6144444,13.8517037 C13.6108333,13.2997407 13.6263889,12.747 13.5963889,12.1952963 C13.6825,12.1947778 13.7686111,12.1952963 13.855,12.1952963 C13.8552778,12.2894074 13.855,12.3837778 13.8533333,12.4784074 C13.9213889,12.3713333 14.0058333,12.2665926 14.1313889,12.213963 L14.1313889,12.213963 Z M19.6244444,12.3246667 C19.8105556,12.1577037 20.0919444,12.1317778 20.3355556,12.1735185 C20.5074181,12.205982 20.6549683,12.307985 20.7383333,12.451963 C20.6630556,12.503037 20.5847222,12.5515185 20.5061111,12.5984444 C20.3922222,12.3674444 20.045,12.3023704 19.8380556,12.4605185 C19.7272222,12.5465926 19.7402778,12.731963 19.8705556,12.7957407 C20.12,12.9232963 20.4519444,12.8792222 20.6625,13.0801481 C20.7988889,13.2022593 20.82,13.3998148 20.7622222,13.5608148 C20.6830556,13.7664074 20.44,13.8797037 20.2158333,13.8791852 C20.05,13.8791852 19.8736111,13.8952593 19.7205556,13.8226667 C19.5947222,13.7684815 19.4930556,13.6767037 19.4138889,13.5714444 C19.4872222,13.5219259 19.5627778,13.4752593 19.6388889,13.4293704 C19.7883333,13.6671111 20.1477778,13.7516296 20.3961111,13.6007407 C20.52,13.529963 20.56,13.3469259 20.4433333,13.2535926 C20.305,13.1467778 20.1155556,13.140037 19.9494444,13.0954444 C19.77,13.0575926 19.5775,12.971 19.5080556,12.7998889 C19.4558333,12.6386296 19.4872222,12.4434074 19.6244444,12.3246667 L19.6244444,12.3246667 Z M27.0686111,12.4485926 C27.1955556,12.2987407 27.3761111,12.1818148 27.5838889,12.1615926 C27.7916667,12.1431852 28.0272222,12.1781852 28.1752778,12.3272593 C28.3033333,12.4594815 28.3358333,12.6432963 28.3386111,12.815963 C28.3397222,13.1612963 28.3369444,13.5071481 28.3397222,13.853 C28.2530556,13.8509259 28.1666667,13.8566296 28.0808333,13.854037 C28.0797222,13.5382593 28.0825,13.223 28.0797222,12.9082593 C28.0722222,12.7532222 28.0541667,12.5774444 27.9238889,12.465963 C27.7225,12.32 27.4111111,12.3599259 27.2402778,12.5297407 C27.1055556,12.6642963 27.0725,12.8564074 27.0688889,13.0337407 C27.0672222,13.3072593 27.0702778,13.5805185 27.0677778,13.854037 L26.8116667,13.8535185 C26.8019444,13.3012963 26.8322222,12.7475185 26.7936111,12.1968519 C26.8827778,12.1968519 26.9730556,12.1963333 27.0636111,12.1971111 C27.0691667,12.2800741 27.0697222,12.3643333 27.0686111,12.4485926 L27.0686111,12.4485926 Z M32.2683333,12.4509259 C32.3958333,12.2951111 32.5836111,12.1779259 32.7955556,12.1597778 C33.0011111,12.1437037 33.235,12.1805185 33.38,12.3303704 C33.5133333,12.4701111 33.5372222,12.6650741 33.5397222,12.8444815 C33.5388889,13.181 33.5405556,13.517 33.5383333,13.853 C33.4525,13.853 33.3680556,13.8524815 33.2822222,13.853 C33.2816667,13.5475926 33.2833333,13.2424444 33.2816667,12.9375556 C33.2736111,12.7744815 33.265,12.5875556 33.1291667,12.4677778 C32.9191667,12.3096296 32.5805556,12.3622593 32.4175,12.5561852 C32.3008333,12.6884074 32.2730556,12.8652222 32.2705556,13.0316667 C32.2694444,13.3051852 32.2711111,13.5784444 32.2702778,13.853 C32.1841667,13.8524815 32.0991667,13.853 32.0138889,13.853 C32.0033333,13.3007778 32.0327778,12.7472593 31.9955556,12.1958148 L32.2641667,12.1958148 C32.2705556,12.2808519 32.2705556,12.3658889 32.2683333,12.4509259 L32.2683333,12.4509259 Z M36.4102778,12.4522222 C36.5516667,12.2655556 36.7913889,12.1442222 37.0386111,12.1566667 C37.2277778,12.1571852 37.4333333,12.216037 37.5480556,12.3656296 C37.6655556,12.5118519 37.6758333,12.7021481 37.6791667,12.8779259 L37.6791667,13.8527407 C37.5927778,13.8527407 37.5077778,13.8532593 37.4225,13.8537778 C37.4177778,13.5398148 37.4280556,13.2250741 37.4175,12.9111111 C37.4116667,12.7524444 37.3952778,12.5691481 37.2558333,12.4592222 C37.04,12.3104074 36.7058333,12.3674444 36.5472222,12.5657778 C36.4441667,12.6897037 36.4136111,12.8501852 36.41,13.0034074 C36.4088889,13.2865185 36.4094444,13.5698889 36.4094444,13.8527407 C36.3230556,13.8542963 36.2372222,13.8517037 36.1511111,13.8527407 C36.1447222,13.3002593 36.1697222,12.7475185 36.1341667,12.1963333 C36.2230556,12.1963333 36.3133333,12.1958148 36.4027778,12.1973704 C36.4088889,12.2821481 36.4102778,12.3671852 36.4102778,12.4522222 L36.4102778,12.4522222 Z M2.85583333,12.1965926 C2.94194444,12.1945185 3.02805556,12.1968519 3.11444444,12.1978889 C3.11055556,12.7498519 3.11472222,13.3018148 3.11222222,13.8537778 C3.02666667,13.8532593 2.94138889,13.8532593 2.85611111,13.8532593 C2.85555556,13.301037 2.85583333,12.7488148 2.85583333,12.1965926 Z M9.39777778,12.1963333 C9.49833333,12.1976296 9.59888889,12.1934815 9.69944444,12.1981481 C9.72805556,12.2271852 9.73583333,12.2684074 9.75361111,12.3039259 C9.92427785,12.7312156 10.097243,13.1577024 10.2725,13.5833704 C10.4566667,13.1205926 10.6472222,12.6596296 10.8327778,12.1965926 C10.9311111,12.1958148 11.0297222,12.1963333 11.1286111,12.1963333 C10.8875,12.748037 10.6463889,13.3 10.4083333,13.8532593 L10.1183333,13.8532593 C9.88027778,13.3 9.63916667,12.748037 9.39777778,12.1963333 L9.39777778,12.1963333 Z M23.5275,12.1963333 C23.6133333,12.1963333 23.6988889,12.1958148 23.7855556,12.1973704 C23.7825,12.7495926 23.7861111,13.3012963 23.7836111,13.8537778 C23.6977778,13.8532593 23.6130556,13.8527407 23.5275,13.8532593 C23.5269444,13.301037 23.5275,12.7485556 23.5275,12.1963333 Z M35.2072222,12.1963333 C35.2930556,12.1963333 35.3786111,12.1958148 35.4655556,12.1973704 C35.4625,12.7495926 35.4661111,13.3012963 35.4633333,13.8537778 C35.3775,13.8532593 35.2925,13.8527407 35.2072222,13.8532593 L35.2072222,12.1963333 Z M2.13388889,11.5458519 C2.04777778,11.5453333 1.96194444,11.5458519 1.87611111,11.5461111 C1.87638889,11.8504815 1.87722222,12.1548519 1.87527778,12.458963 C1.55472222,12.0770741 0.886388889,12.0578889 0.519166667,12.3892222 C0.1325,12.7278148 0.149444444,13.3798519 0.561111111,13.6948519 C0.736944444,13.8405556 0.974166667,13.8947407 1.20527778,13.8778889 C1.46527778,13.9004444 1.715,13.7741852 1.875,13.5888148 C1.87638889,13.6767037 1.87666667,13.7648519 1.87666667,13.853 C1.96194444,13.8524815 2.04722222,13.853 2.1325,13.854037 C2.13555556,13.0848148 2.13277778,12.3153333 2.13388889,11.5458519 L2.13388889,11.5458519 Z M1.68916667,13.4840741 C1.45861111,13.7088519 1.04277778,13.7443704 0.777777778,13.553037 C0.521666667,13.3705185 0.463888889,13.0187037 0.577222222,12.7490741 C0.647958067,12.5781673 0.800957213,12.4484372 0.99,12.3990741 C1.25861111,12.3275185 1.57166667,12.4146296 1.74222222,12.6235926 C1.95138889,12.8711852 1.92972222,13.2616296 1.68916667,13.4840741 L1.68916667,13.4840741 Z M8.88611111,12.3314074 C8.645,12.1592593 8.31722222,12.1201111 8.02694444,12.1857037 C7.82837483,12.2309056 7.65321493,12.3399551 7.53222222,12.4937037 C7.3275,12.7519259 7.29861111,13.1143704 7.43638889,13.4065556 C7.54977775,13.6403806 7.77401969,13.8110965 8.04222222,13.8677778 C8.20611111,13.8835926 8.37277778,13.8851481 8.53666667,13.8698519 C8.8275,13.8122963 9.08027778,13.608 9.1775,13.3458889 C9.31444444,12.9958889 9.21277778,12.5598148 8.88611111,12.3314074 L8.88611111,12.3314074 Z M8.7825,13.4807037 C8.56222222,13.7148148 8.14444444,13.741 7.88388889,13.550963 C7.6375,13.3681852 7.575,13.0277778 7.68333333,12.7604815 C7.75097157,12.5875956 7.90182034,12.4544865 8.09055556,12.4011481 C8.32694444,12.3355556 8.60555556,12.39 8.77555556,12.5621481 C9.0125,12.8115556 9.01722222,13.2287037 8.7825,13.4807037 L8.7825,13.4807037 Z M13.0502778,13.0944074 C13.0672222,12.8361852 13.0036111,12.556963 12.7975,12.3713333 C12.5236111,12.1175185 12.0616667,12.0910741 11.7366667,12.2733333 C11.3527778,12.4838519 11.2166667,12.964 11.3627778,13.3443333 C11.4581827,13.598271 11.6809279,13.7924101 11.9588889,13.8638889 C12.0872222,13.8877407 12.2194444,13.8776296 12.35,13.8776296 C12.6091667,13.8789259 12.8344444,13.7236296 12.9905556,13.5429259 C12.9252778,13.4908148 12.8572222,13.4415556 12.7908333,13.3915185 C12.6330556,13.6085185 12.3294444,13.7316667 12.0547222,13.6546667 C11.7872222,13.5875185 11.605,13.3461481 11.5769444,13.0951852 C12.0680556,13.0936296 12.5591667,13.0944074 13.0502778,13.0944074 Z M11.5819444,12.8921852 C11.6061111,12.6197037 11.8694444,12.3995926 12.1555556,12.3765185 C12.3333333,12.3645926 12.5275,12.4154074 12.6430556,12.5489259 C12.7330556,12.643037 12.7608333,12.7703333 12.7744444,12.8921852 C12.3772222,12.894 11.9794444,12.892963 11.5819444,12.8921852 L11.5819444,12.8921852 Z M18.9166667,12.1968519 C18.83,12.1963333 18.7438889,12.1963333 18.6577778,12.1963333 L18.6580556,12.3565556 C18.2819444,12.073963 17.6747222,12.0838148 17.335,12.4143704 C16.9447222,12.7897778 17.0163889,13.4967778 17.5077778,13.7666667 C17.7169444,13.900963 17.9791667,13.8841111 18.2202778,13.8745185 C18.3833333,13.8615556 18.5286111,13.7817037 18.6583333,13.6938148 C18.6577778,13.7464444 18.6577778,13.7995926 18.6580556,13.8527407 C18.7430556,13.8527407 18.8280556,13.8537778 18.9133333,13.8548148 C18.9188889,13.3023333 18.9125,12.7495926 18.9166667,12.1968519 L18.9166667,12.1968519 Z M18.4433333,13.543963 C18.205,13.7249259 17.8266667,13.721037 17.5933333,13.5333333 C17.3669444,13.3466667 17.3097222,13.0231111 17.4130556,12.7651481 C17.4794615,12.5936348 17.626805,12.4602265 17.8125,12.4034815 C18.0638889,12.3298519 18.3683333,12.3941481 18.5347222,12.5924815 C18.7644444,12.8675556 18.7377778,13.3173704 18.4433333,13.543963 L18.4433333,13.543963 Z M25.9258333,12.3495556 C25.6847222,12.1647037 25.3458333,12.1172593 25.0477778,12.185963 C24.8583333,12.2313333 24.6816667,12.3301111 24.5627778,12.4760741 C24.2405556,12.857963 24.3247222,13.4967778 24.7769444,13.7583704 C24.9938889,13.9007037 25.2694444,13.8848889 25.5211111,13.8724444 C25.8169444,13.8327778 26.0761111,13.6292593 26.185,13.3707778 C26.3275,13.0254444 26.2444444,12.5875556 25.9258333,12.3495556 L25.9258333,12.3495556 Z M25.7177778,13.5514815 C25.4875,13.7184444 25.135,13.7192222 24.9038889,13.553037 C24.6402778,13.3604074 24.5830556,12.9888889 24.7216667,12.7143333 C24.7963296,12.5625736 24.9377647,12.4484394 25.1094444,12.4014074 C25.3463889,12.3363333 25.6266667,12.3912963 25.7947222,12.5662963 C26.055,12.8398148 26.0313889,13.3207407 25.7177778,13.5514815 L25.7177778,13.5514815 Z M31.1708333,12.3474815 C30.9288889,12.1615926 30.5888889,12.1177778 30.2902778,12.185963 C30.0775,12.2352222 29.8855556,12.3596667 29.7675,12.5328519 C29.4883333,12.9245926 29.5997222,13.532037 30.05,13.7708148 C30.2605556,13.9032963 30.5241667,13.8854074 30.765,13.872963 C31.0797222,13.830963 31.3547222,13.6051481 31.4502778,13.3228148 C31.5711111,12.9855185 31.4755556,12.573037 31.1708333,12.3474815 L31.1708333,12.3474815 Z M31.0475,13.4799259 C30.8330556,13.7096296 30.4291667,13.7397037 30.1675,13.5644444 C29.8988889,13.3827037 29.8322222,13.0171481 29.9558333,12.7405185 C30.0260862,12.5774151 30.1717458,12.4528111 30.3519444,12.4016667 C30.5888889,12.3347778 30.8686111,12.3887037 31.0397222,12.5611111 C31.2766667,12.8112963 31.2819444,13.2276667 31.0475,13.4799259 L31.0475,13.4799259 Z M39.9333333,13.0944074 C39.955,12.8737778 39.9297222,12.6381111 39.7788889,12.4579259 C39.4894444,12.083037 38.8433333,12.0591852 38.495,12.3747037 C38.0708333,12.7374074 38.1188889,13.4711111 38.6133333,13.7612222 C38.8302778,13.9064074 39.1083333,13.8867037 39.3602778,13.8690741 C39.5766667,13.8353704 39.7502778,13.6958889 39.8908333,13.5465556 C39.8258354,13.4935457 39.7596162,13.4418546 39.6922222,13.3915185 C39.5363889,13.599963 39.2505556,13.7241481 38.9805556,13.6608889 C38.7016667,13.6017778 38.5061111,13.3536667 38.4772222,13.0954444 C38.9627778,13.0931111 39.4477778,13.0946667 39.9333333,13.0944074 L39.9333333,13.0944074 Z M38.4813889,12.8927037 C38.5091667,12.5740741 38.8633333,12.3301111 39.1980556,12.3806667 C39.3444444,12.398037 39.4894444,12.467 39.5733333,12.5839259 C39.6447222,12.6728519 39.6608333,12.7845926 39.6752778,12.8919259 C39.2772222,12.894 38.8797222,12.8927037 38.4813889,12.8927037 L38.4813889,12.8927037 Z M39.0722222,5.74907407 C38.5569444,5.26348148 37.8838889,4.95237037 37.1966667,4.73588889 C36.2705556,4.43540741 35.2788889,4.36644444 34.3597222,4.04651852 C34.0586111,3.93996296 33.7591667,3.79996296 33.5405556,3.57440741 C33.2491667,3.27418519 33.1863889,2.81166667 33.3613889,2.44533333 C33.4733333,2.21122222 33.6913889,2.03259259 33.9369444,1.92422222 C34.3438889,1.74637037 34.8061111,1.71992593 35.2483333,1.75181481 C35.6986111,1.78292593 36.1558333,1.92059259 36.4919444,2.21044444 C36.7833333,2.45622222 36.9663889,2.7987037 37.0405556,3.1557037 C37.0519444,3.24851852 37.1230556,3.34755556 37.235,3.33848148 C37.9558333,3.34522222 38.6761111,3.35559259 39.3972222,3.3542963 C39.4997222,3.36674074 39.5980556,3.28507407 39.5686111,3.18551852 C39.4861111,2.64911111 39.2852778,2.12359259 38.9566667,1.67455556 C38.56,1.12725926 37.9655556,0.720740741 37.3105556,0.478592593 C36.7055556,0.250185185 36.0538889,0.152703704 35.405,0.118740741 L34.6591667,0.118740741 C33.8616667,0.158148148 33.0522222,0.266259259 32.3191667,0.577111111 C31.7841667,0.801111111 31.2966667,1.15059259 30.9905556,1.6227037 C30.6894444,2.07303704 30.5722222,2.60944444 30.5658333,3.13496296 C30.1780556,2.39503704 29.5961111,1.74844444 28.9011111,1.24288889 C27.9763889,0.56362963 26.8213889,0.177592593 25.6483333,0.118740741 L25.0386111,0.118740741 C24.2294807,0.162939554 23.4400679,0.369419835 22.7241667,0.724111111 C21.6720731,1.25049819 20.8110766,2.05653117 20.2502778,3.04007407 C20.1586111,2.6262963 20.0152778,2.21822222 19.7811111,1.85422222 C19.4716667,1.35696296 19.0055556,0.950703704 18.4647222,0.677444444 C17.7505556,0.310592593 16.9330556,0.163074074 16.1263889,0.118740741 L15.3497222,0.118740741 C14.7644444,0.150888889 14.1775,0.214407407 13.6144444,0.372555556 C12.9613889,0.553 12.3275,0.864888889 11.8927778,1.365 C11.6441667,1.64344444 11.4819444,1.97866667 11.3752778,2.32477778 C11.3755556,1.75492593 11.3747222,1.18481481 11.3761111,0.614703704 C11.375,0.551962963 11.3747222,0.478851852 11.3163889,0.436333333 C11.2680556,0.385777778 11.1911111,0.389925926 11.125,0.38862963 C10.4730556,0.391481481 9.82083333,0.387074074 9.16888889,0.390703704 C9.07111111,0.385259259 8.9925,0.469 8.98944444,0.556111111 C8.97916667,0.719962963 8.99305556,0.884333333 8.98555556,1.04844444 C8.99137898,1.08741168 8.9711176,1.12574681 8.93444444,1.14514815 C8.86777778,1.1187037 8.80972222,1.07748148 8.75055556,1.03911111 C7.96388889,0.523185185 7.0375,0.173185185 6.0725,0.118222222 L5.55722222,0.118222222 C5.03361111,0.145703704 4.51194444,0.229444444 4.01583333,0.389666667 C3.15277778,0.667074074 2.37555556,1.155 1.7425,1.76555556 C0.998055556,2.46348148 0.469166667,3.36388889 0.263888889,4.33144444 C0.198611111,4.62025926 0.166666667,4.91374074 0.144166667,5.20748148 L0.144166667,5.80637037 C0.183055556,6.46774074 0.330555556,7.1272963 0.623055556,7.73292593 C1.08611111,8.69166667 1.86638889,9.5072963 2.80527778,10.0825926 C3.70277778,10.6322222 4.78222222,10.8992593 5.85194444,10.8878519 C6.92166667,10.8969259 7.96972222,10.5194444 8.80694444,9.90811111 C8.85333333,9.87907407 8.93805556,9.79714815 8.97972222,9.87492593 C9.00055556,10.0657407 8.97611111,10.2583704 8.98972222,10.4502222 C8.99277778,10.5352593 9.07055556,10.6187407 9.16583333,10.6153704 C9.84305556,10.6171852 10.5202778,10.6174444 11.1972222,10.6153704 C11.3011111,10.6184815 11.3836111,10.5233333 11.375,10.4294815 C11.3783333,9.86844444 11.3736111,9.30740741 11.3769444,8.74637037 C11.5769444,9.14277778 11.8352778,9.51844444 12.1813889,9.81814815 C12.7611111,10.3356296 13.5294444,10.6311852 14.3091667,10.7688519 C14.9591667,10.8881111 15.6247222,10.8995185 16.2847222,10.8837037 C16.9825,10.8541481 17.6811111,10.7558889 18.3433333,10.5435556 C18.8697222,10.3755556 19.375,10.1282222 19.7852778,9.77433333 C20.1812929,9.4323048 20.4602737,8.98874427 20.5872222,8.4992963 C20.762054,8.73708854 20.9551542,8.9627188 21.165,9.17440741 C21.9305556,9.95633333 22.9533333,10.5134815 24.0608333,10.7442222 C25.3175,11.0125556 26.6761111,10.9158519 27.8447222,10.3931852 C28.9388889,9.90862963 29.8530556,9.08962963 30.4438889,8.1047037 C30.6061111,8.69348148 30.8963889,9.26177778 31.3516667,9.70148148 C31.7383333,10.0846667 32.2288889,10.3675185 32.7561111,10.5495185 C33.6675,10.8686667 34.6569444,10.9124815 35.6205556,10.8826667 C36.4133333,10.8453333 37.2105556,10.7206296 37.9469444,10.4364815 C38.515,10.2168889 39.0502778,9.88866667 39.4225,9.42537037 C39.7469444,9.02585185 39.9205556,8.53403704 39.9619444,8.0372963 L39.9619444,7.56388889 C39.9016667,6.88696296 39.5980556,6.2242963 39.0722222,5.74907407 L39.0722222,5.74907407 Z M8.45972222,7.53692593 C8.15284022,8.05245257 7.66556884,8.45397178 7.07944444,8.6742963 C6.33472222,8.95507407 5.47416667,8.99396296 4.71916667,8.72459259 C4.05916667,8.49566667 3.49972222,8.03859259 3.14972222,7.4702963 C2.71805556,6.77937037 2.58055556,5.95622222 2.64416667,5.166 C2.71638889,4.36644444 3.04305556,3.57 3.64444444,2.98562963 C4.08059558,2.56078822 4.65302935,2.27995669 5.27527778,2.18555556 C5.96472222,2.08703704 6.6925,2.16948148 7.3225,2.45440741 C7.87055556,2.70381481 8.31,3.14014815 8.56416667,3.65477778 C8.83777778,4.20285185 8.93388889,4.81262963 8.94416667,5.41255556 C8.95444444,6.1402963 8.84527778,6.8937037 8.45972222,7.53692593 L8.45972222,7.53692593 Z M17.815,8.4152963 C17.6536111,8.68181481 17.3836111,8.88092593 17.0816667,8.99448148 C16.7102778,9.13992593 16.3013889,9.16611111 15.9036111,9.15392593 C15.3102778,9.13785185 14.6869444,8.99525926 14.2402778,8.61077778 C13.8952778,8.32196296 13.6958333,7.9087037 13.6161111,7.48766667 C13.6069444,7.40651852 13.5477778,7.31474074 13.4483333,7.31992593 C12.7575,7.29918519 12.0661111,7.30722222 11.3752778,7.28751852 C11.3719444,6.17711111 11.3788889,5.06644444 11.3719444,3.95577778 C11.4505556,4.17381481 11.5411111,4.39055556 11.6808333,4.58162963 C11.9430556,4.9547037 12.3327778,5.23392593 12.7505556,5.44133333 C13.5330556,5.82814815 14.4097222,5.99433333 15.2702778,6.1542963 C15.9236111,6.28211111 16.5902778,6.40214815 17.1925,6.68111111 C17.5405556,6.84496296 17.8802778,7.10111111 17.9755556,7.47055556 C18.0437304,7.79327592 17.9868271,8.12810639 17.815,8.4152963 Z M19.6480556,5.635 C19.1294444,5.19944444 18.4872222,4.91451852 17.8291667,4.71333333 C17.1305556,4.49451852 16.3980556,4.40351852 15.6880556,4.22774074 C15.3119444,4.13388889 14.9341667,4.02707407 14.5977778,3.84066667 C14.3477778,3.70118519 14.1230556,3.49662963 14.0308333,3.2327037 C13.9225,2.92625926 13.9533333,2.56796296 14.1541667,2.29962963 C14.3258333,2.06240741 14.6063889,1.91411111 14.895,1.83296296 C15.2875,1.72718519 15.7038889,1.7207037 16.1077778,1.76685185 C16.5238889,1.81662963 16.9377778,1.96855556 17.2377778,2.24881481 C17.5061111,2.48888889 17.6722222,2.81555556 17.7427778,3.15362963 C17.7552778,3.2422963 17.8158333,3.34003704 17.9233333,3.33796296 C18.6469444,3.34548148 19.3708333,3.35403704 20.0944444,3.35533333 C19.7702778,4.07296296 19.6288889,4.85748148 19.6480556,5.635 L19.6480556,5.635 Z M28.0766667,7.45837037 C27.7972222,7.9507037 27.3452778,8.35177778 26.815,8.60585185 C26.2055556,8.89285185 25.4952778,8.96388889 24.825,8.86640741 C24.2616884,8.78409367 23.7364443,8.54988369 23.3138889,8.19259259 C22.8863889,7.84492593 22.5983333,7.36866667 22.4280556,6.86907407 C22.2197222,6.25048148 22.1702778,5.58988889 22.25,4.94692593 C22.3466667,4.24381481 22.6177778,3.53344444 23.1555556,3.01674074 C23.6420355,2.53822242 24.2948343,2.2365692 24.9975,2.16559259 C25.5872222,2.10544444 26.1991667,2.17907407 26.7375,2.41940741 C27.3108333,2.67814815 27.7980556,3.10722222 28.0944444,3.63533333 C28.3972222,4.17148148 28.54,4.77944444 28.5544444,5.383 C28.575,6.09544444 28.4402778,6.82525926 28.0766667,7.45837037 L28.0766667,7.45837037 Z M36.8233333,8.74222222 C36.4988889,9.00381481 36.0691667,9.11918519 35.6486111,9.14822222 C35.0736111,9.17777778 34.4725,9.13266667 33.9527778,8.88196296 C33.5236111,8.68025926 33.19,8.31677778 33.0305556,7.89444444 C32.9583333,7.73655556 32.9416667,7.56362963 32.8847222,7.40211111 C32.8252778,7.28725926 32.67,7.32614815 32.5602778,7.31240741 C31.9819444,7.31085185 31.4036111,7.29503704 30.8258333,7.29633333 C31.1219444,6.46359259 31.1888889,5.56862963 31.0705556,4.70062963 C31.4672222,5.18622222 32.0616667,5.48644444 32.6633333,5.69774074 C33.6633333,6.05240741 34.7402778,6.13692593 35.7611111,6.41848148 C36.1511111,6.53048148 36.5433333,6.66685185 36.8652778,6.90692593 C37.0794444,7.06533333 37.2477778,7.29088889 37.2883333,7.54677778 C37.3502778,7.98259259 37.1866667,8.45314815 36.8233333,8.74222222 L36.8233333,8.74222222 Z"
                                                  id="Shape" fill-rule="nonzero"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
        </div>
        <div class="payment-header__logo__description">
            <div class="payment-header__description__title">
                Магазин ASOS
            </div>
            <div class="payment-header__description__text">
                Интернет-магазин одеджы, обуви и аксессуаров по выгодным ценам, хороший.
            </div>
            <div class="payment-header__description__link">
                <a href="//asos.com">asos.com</a>
            </div>
        </div>
    </div>
</template>

<script>
  export default {}
</script>

<style lang="scss">
    .payment-header {
        display: flex;
        padding: 40px 0 55px 0;
        position: relative;

        .payment-header__price,
        .payment-header__description__time {
            color: #b4b5b8;
        }

        .payment-header__price__amount {
            font-size: 24px;
            color: #2d3440;
            line-height: 1.33;
        }
        .payment-header__description {
            max-width: 430px;
            padding-left: 100px;

            .payment-header__description__text {
                font-size: 16px;
                line-height: 1.25;
                color: #2d3440;
            }
        }
        .payment-header__wrap-logo {
            z-index: 1;
            margin-left: auto;

            &:hover + .payment-header__logo__description {
                display: flex;
            }

            .payment-header__logo {
                width: 66px;
                height: 66px;
                border-radius: 4px;
                background-color: #ffffff;
                border: solid 1px #d7d9dc;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: auto;
            }
        }

        .payment-header__logo__description {
            width: 380px;
            height: 108px;
            border-radius: 4px;
            background-color: #ffffff;
            box-shadow: 0 5px 10px 0 rgba(45, 52, 64, 0.2);
            position: absolute;
            right: -9px;
            top: 31px;
            padding-left: 15px;
            display: none;
            flex-direction: column;
            justify-content: center;
            box-sizing: border-box;

            .payment-header__description__title {
                font-size: 16px;
                line-height: 1.25;
                color: #2d3440;
            }

            .payment-header__description__text {
                font-size: 12px;
                line-height: 1.33;
                color: #2d3440;
                max-width: 280px;
                margin-right: auto;
                margin-top: 5px;
            }

            .payment-header__description__link {
                margin-top: 5px;
                a {
                    line-height: 1.33;
                    color: #0055cc;
                    font-family: SF-UI-Text-Bold;
                }
            }
        }
    }
</style>
