<template>
    <div class="payment-methods">
        <payment-header></payment-header>
        <tabs-component></tabs-component>
        <payment-items-component></payment-items-component>
    </div>
</template>

<script>
  import PaymentHeader from './PaymentHeader'
  import TabsComponent from './TabsComponent'
  import PaymentItemsComponent from './PaymentItemsComponent'

  export default {
    components: {
      PaymentHeader,
      TabsComponent,
      PaymentItemsComponent
    }
  }

</script>

<style scoped>
    .payment-methods {
        width: 748px;
    }

    @media (min-width: 1024px) {
        .payment-methods {
            width: 940px;
        }
    }
</style>
