<template>
    <div class="payment-methods__items">
        <a class="payment-methods__item" href="#">
            <div class="payment-methods__icon-wrap">
                <div class="payment-methods__icon payment-methods__icon--blue"><span>₴</span></div>
            </div>
            <div class="payment-methods__logo">
                <svg width="68px" height="70px" viewBox="0 0 54 56" version="1.1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 44.1 (41455) - http://www.bohemiancoding.com/sketch -->
                    <title>VISA Qiwi Wallet</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Modal" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="01_mobile-views" transform="translate(-1090.000000, -985.000000)" fill-rule="nonzero"
                           fill="#FF8C00">
                            <g id="w-basic" transform="translate(880.000000, 744.000000)">
                                <g id="systems" transform="translate(20.000000, 218.000000)">
                                    <g id="item" transform="translate(150.000000, 0.000000)">
                                        <g id="VISA-Qiwi-Wallet" transform="translate(40.000000, 23.000000)">
                                            <path d="M53.8357921,55.0597933 C54.3405439,55.6870404 53.5728492,56.3239247 53.0005776,55.8150781 C47.2863709,50.7373505 42.480388,49.2991979 37.7271034,49.0998446 C35.2044427,48.9941102 32.6968779,49.2366935 30.0754077,49.4690888 C29.5519919,49.5153476 29.0239102,49.561331 28.4897901,49.6037349 C28.2567644,49.6227341 28.0220919,49.6403564 27.7874194,49.6577035 C26.8630019,49.7576555 25.9265077,49.810798 24.9765644,49.810798 C20.5040634,49.810798 16.2838011,48.7113259 12.4313295,46.5415686 C8.56513444,44.366029 5.49243432,41.3269921 3.2991385,37.5087149 C1.10968527,33.6989736 0,29.4891489 0,24.9959891 C0,20.5075103 1.10858739,16.2797879 3.29474697,12.4306715 C5.48529808,8.57577283 8.52286594,5.50672278 12.323188,3.30943052 C16.1235101,1.11351502 20.268842,0 24.6450037,0 C29.2152163,0 33.4868047,1.10002288 37.3411975,3.26978014 C41.2065692,5.4455951 44.2886013,8.49371856 46.5024825,12.3307195 C48.7122465,16.1630395 49.8326362,20.3838782 49.8326362,24.8759366 C49.8326362,26.6100903 49.6649345,28.3034922 49.3358441,29.95036 C49.2935756,30.1893637 49.2323686,30.4790318 49.1461848,30.8166108 C49.0819586,31.0867291 49.0133409,31.3560213 48.9400572,31.6236614 L48.9194719,31.6120967 C48.4767506,33.0340036 47.6525149,35.0465361 46.1184979,37.6306949 C45.9532665,37.9024653 45.8618677,37.6954022 45.840459,37.543409 C45.3035942,33.7427543 43.6433206,30.8565365 40.7169134,28.9924177 C40.668881,28.9618538 40.6194763,28.9323914 40.5706205,28.9026536 C40.09112,28.6066525 39.5789576,28.3376356 39.0324863,28.0953277 C38.3350561,27.7872111 37.5827318,27.5214985 36.773592,27.30232 C36.2773489,27.1684999 35.1712317,27.226048 35.572508,26.8267907 C35.7380138,26.6624068 38.1341436,26.6246838 40.8884576,26.7998064 C40.9419794,26.8031106 40.9955012,26.8064148 41.0495719,26.8099943 C41.100349,26.2306581 41.1266982,25.6367284 41.1266982,25.027379 C41.1266982,20.2850276 39.5619404,16.4182889 36.3426729,13.2071583 C33.1209352,9.99382485 29.3540985,8.43121413 24.8261544,8.43121413 C20.1895199,8.43121413 16.4298195,9.99547695 13.332966,13.2137667 C10.2193697,16.4480267 8.70621241,20.2822741 8.70621241,24.9354122 C8.70621241,29.578913 10.2621871,33.3969148 13.4633396,36.60777 C16.664492,39.8189006 20.3811005,41.38041 24.8261544,41.38041 C25.0394182,41.38041 25.2499373,41.3738016 25.4604564,41.3671932 C25.4555159,41.3132246 25.4519478,41.259256 25.4475562,41.2061135 C25.192024,37.9322031 25.1379532,35.2122967 25.8084853,36.3095661 C26.0453535,36.6975341 26.2811239,37.0640248 26.5160709,37.4167481 C27.3927305,38.7312685 28.2600581,39.8131183 29.1235431,40.7102083 C29.1669095,40.7550903 29.2102758,40.798871 29.2541912,40.8429269 C32.4138985,44.0603906 35.5242011,44.8520216 38.8307503,45.6659559 C38.9012893,45.6838536 38.9715538,45.7012007 39.0418183,45.7182724 C39.5830747,45.8520924 40.1298204,45.9875646 40.6831535,46.1359782 C44.6130258,47.1880902 48.8689693,48.8842456 53.8357921,55.0597933 M42.9316179,35.2626857 C42.4433344,35.1195038 42.0782883,35.2260642 41.8982355,35.5564841 C41.6254116,36.0562442 41.8268731,37.0450257 42.377187,37.9065955 C42.9349116,38.7794547 43.4078247,39.221942 43.7843986,39.221942 C43.9142232,39.221942 44.0303244,39.1671474 44.1206252,39.0641666 C44.3300464,38.82296 44.399213,38.317693 44.3111079,37.6786058 C44.2227284,37.0254758 43.8230989,35.6820437 42.9316179,35.2626857 M37.4273814,39.3378644 C36.9283935,39.3378644 36.5122958,39.5124362 36.2562146,39.8293639 C35.600504,40.6402694 35.8952856,42.0679587 36.8995741,42.9482523 C37.3379039,43.3320901 37.9691866,43.5620073 38.5889416,43.5620073 C39.2199499,43.5620073 39.7463848,43.3243803 40.0713582,42.893733 C40.6557064,42.1081598 40.3194797,40.9946447 39.2152839,40.0579044 C38.6685381,39.5939398 38.0336873,39.3378644 37.4273814,39.3378644"
                                                  id="Shape"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
            <div class="payment-methods__text">Оплата картами</div>
        </a>
        <a class="payment-methods__item" href="#">
            <div class="payment-methods__icon-wrap">
            </div>
            <div class="payment-methods__logo">
                <svg width="68px" height="70px" viewBox="0 0 54 56" version="1.1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 44.1 (41455) - http://www.bohemiancoding.com/sketch -->
                    <title>VISA Qiwi Wallet</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Modal" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="01_mobile-views" transform="translate(-1090.000000, -985.000000)" fill-rule="nonzero"
                           fill="#FF8C00">
                            <g id="w-basic" transform="translate(880.000000, 744.000000)">
                                <g id="systems" transform="translate(20.000000, 218.000000)">
                                    <g id="item" transform="translate(150.000000, 0.000000)">
                                        <g id="VISA-Qiwi-Wallet" transform="translate(40.000000, 23.000000)">
                                            <path d="M53.8357921,55.0597933 C54.3405439,55.6870404 53.5728492,56.3239247 53.0005776,55.8150781 C47.2863709,50.7373505 42.480388,49.2991979 37.7271034,49.0998446 C35.2044427,48.9941102 32.6968779,49.2366935 30.0754077,49.4690888 C29.5519919,49.5153476 29.0239102,49.561331 28.4897901,49.6037349 C28.2567644,49.6227341 28.0220919,49.6403564 27.7874194,49.6577035 C26.8630019,49.7576555 25.9265077,49.810798 24.9765644,49.810798 C20.5040634,49.810798 16.2838011,48.7113259 12.4313295,46.5415686 C8.56513444,44.366029 5.49243432,41.3269921 3.2991385,37.5087149 C1.10968527,33.6989736 0,29.4891489 0,24.9959891 C0,20.5075103 1.10858739,16.2797879 3.29474697,12.4306715 C5.48529808,8.57577283 8.52286594,5.50672278 12.323188,3.30943052 C16.1235101,1.11351502 20.268842,0 24.6450037,0 C29.2152163,0 33.4868047,1.10002288 37.3411975,3.26978014 C41.2065692,5.4455951 44.2886013,8.49371856 46.5024825,12.3307195 C48.7122465,16.1630395 49.8326362,20.3838782 49.8326362,24.8759366 C49.8326362,26.6100903 49.6649345,28.3034922 49.3358441,29.95036 C49.2935756,30.1893637 49.2323686,30.4790318 49.1461848,30.8166108 C49.0819586,31.0867291 49.0133409,31.3560213 48.9400572,31.6236614 L48.9194719,31.6120967 C48.4767506,33.0340036 47.6525149,35.0465361 46.1184979,37.6306949 C45.9532665,37.9024653 45.8618677,37.6954022 45.840459,37.543409 C45.3035942,33.7427543 43.6433206,30.8565365 40.7169134,28.9924177 C40.668881,28.9618538 40.6194763,28.9323914 40.5706205,28.9026536 C40.09112,28.6066525 39.5789576,28.3376356 39.0324863,28.0953277 C38.3350561,27.7872111 37.5827318,27.5214985 36.773592,27.30232 C36.2773489,27.1684999 35.1712317,27.226048 35.572508,26.8267907 C35.7380138,26.6624068 38.1341436,26.6246838 40.8884576,26.7998064 C40.9419794,26.8031106 40.9955012,26.8064148 41.0495719,26.8099943 C41.100349,26.2306581 41.1266982,25.6367284 41.1266982,25.027379 C41.1266982,20.2850276 39.5619404,16.4182889 36.3426729,13.2071583 C33.1209352,9.99382485 29.3540985,8.43121413 24.8261544,8.43121413 C20.1895199,8.43121413 16.4298195,9.99547695 13.332966,13.2137667 C10.2193697,16.4480267 8.70621241,20.2822741 8.70621241,24.9354122 C8.70621241,29.578913 10.2621871,33.3969148 13.4633396,36.60777 C16.664492,39.8189006 20.3811005,41.38041 24.8261544,41.38041 C25.0394182,41.38041 25.2499373,41.3738016 25.4604564,41.3671932 C25.4555159,41.3132246 25.4519478,41.259256 25.4475562,41.2061135 C25.192024,37.9322031 25.1379532,35.2122967 25.8084853,36.3095661 C26.0453535,36.6975341 26.2811239,37.0640248 26.5160709,37.4167481 C27.3927305,38.7312685 28.2600581,39.8131183 29.1235431,40.7102083 C29.1669095,40.7550903 29.2102758,40.798871 29.2541912,40.8429269 C32.4138985,44.0603906 35.5242011,44.8520216 38.8307503,45.6659559 C38.9012893,45.6838536 38.9715538,45.7012007 39.0418183,45.7182724 C39.5830747,45.8520924 40.1298204,45.9875646 40.6831535,46.1359782 C44.6130258,47.1880902 48.8689693,48.8842456 53.8357921,55.0597933 M42.9316179,35.2626857 C42.4433344,35.1195038 42.0782883,35.2260642 41.8982355,35.5564841 C41.6254116,36.0562442 41.8268731,37.0450257 42.377187,37.9065955 C42.9349116,38.7794547 43.4078247,39.221942 43.7843986,39.221942 C43.9142232,39.221942 44.0303244,39.1671474 44.1206252,39.0641666 C44.3300464,38.82296 44.399213,38.317693 44.3111079,37.6786058 C44.2227284,37.0254758 43.8230989,35.6820437 42.9316179,35.2626857 M37.4273814,39.3378644 C36.9283935,39.3378644 36.5122958,39.5124362 36.2562146,39.8293639 C35.600504,40.6402694 35.8952856,42.0679587 36.8995741,42.9482523 C37.3379039,43.3320901 37.9691866,43.5620073 38.5889416,43.5620073 C39.2199499,43.5620073 39.7463848,43.3243803 40.0713582,42.893733 C40.6557064,42.1081598 40.3194797,40.9946447 39.2152839,40.0579044 C38.6685381,39.5939398 38.0336873,39.3378644 37.4273814,39.3378644"
                                                  id="Shape"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
            <div class="payment-methods__text">VISA Qiwi Wallet</div>
        </a>
        <a class="payment-methods__item" href="#">
            <div class="payment-methods__icon-wrap">
                <div class="payment-methods__icon payment-methods__icon--green"><span>0%</span></div>
            </div>
            <div class="payment-methods__logo">
                <svg width="68px" height="70px" viewBox="0 0 54 56" version="1.1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 44.1 (41455) - http://www.bohemiancoding.com/sketch -->
                    <title>VISA Qiwi Wallet</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Modal" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="01_mobile-views" transform="translate(-1090.000000, -985.000000)" fill-rule="nonzero"
                           fill="#FF8C00">
                            <g id="w-basic" transform="translate(880.000000, 744.000000)">
                                <g id="systems" transform="translate(20.000000, 218.000000)">
                                    <g id="item" transform="translate(150.000000, 0.000000)">
                                        <g id="VISA-Qiwi-Wallet" transform="translate(40.000000, 23.000000)">
                                            <path d="M53.8357921,55.0597933 C54.3405439,55.6870404 53.5728492,56.3239247 53.0005776,55.8150781 C47.2863709,50.7373505 42.480388,49.2991979 37.7271034,49.0998446 C35.2044427,48.9941102 32.6968779,49.2366935 30.0754077,49.4690888 C29.5519919,49.5153476 29.0239102,49.561331 28.4897901,49.6037349 C28.2567644,49.6227341 28.0220919,49.6403564 27.7874194,49.6577035 C26.8630019,49.7576555 25.9265077,49.810798 24.9765644,49.810798 C20.5040634,49.810798 16.2838011,48.7113259 12.4313295,46.5415686 C8.56513444,44.366029 5.49243432,41.3269921 3.2991385,37.5087149 C1.10968527,33.6989736 0,29.4891489 0,24.9959891 C0,20.5075103 1.10858739,16.2797879 3.29474697,12.4306715 C5.48529808,8.57577283 8.52286594,5.50672278 12.323188,3.30943052 C16.1235101,1.11351502 20.268842,0 24.6450037,0 C29.2152163,0 33.4868047,1.10002288 37.3411975,3.26978014 C41.2065692,5.4455951 44.2886013,8.49371856 46.5024825,12.3307195 C48.7122465,16.1630395 49.8326362,20.3838782 49.8326362,24.8759366 C49.8326362,26.6100903 49.6649345,28.3034922 49.3358441,29.95036 C49.2935756,30.1893637 49.2323686,30.4790318 49.1461848,30.8166108 C49.0819586,31.0867291 49.0133409,31.3560213 48.9400572,31.6236614 L48.9194719,31.6120967 C48.4767506,33.0340036 47.6525149,35.0465361 46.1184979,37.6306949 C45.9532665,37.9024653 45.8618677,37.6954022 45.840459,37.543409 C45.3035942,33.7427543 43.6433206,30.8565365 40.7169134,28.9924177 C40.668881,28.9618538 40.6194763,28.9323914 40.5706205,28.9026536 C40.09112,28.6066525 39.5789576,28.3376356 39.0324863,28.0953277 C38.3350561,27.7872111 37.5827318,27.5214985 36.773592,27.30232 C36.2773489,27.1684999 35.1712317,27.226048 35.572508,26.8267907 C35.7380138,26.6624068 38.1341436,26.6246838 40.8884576,26.7998064 C40.9419794,26.8031106 40.9955012,26.8064148 41.0495719,26.8099943 C41.100349,26.2306581 41.1266982,25.6367284 41.1266982,25.027379 C41.1266982,20.2850276 39.5619404,16.4182889 36.3426729,13.2071583 C33.1209352,9.99382485 29.3540985,8.43121413 24.8261544,8.43121413 C20.1895199,8.43121413 16.4298195,9.99547695 13.332966,13.2137667 C10.2193697,16.4480267 8.70621241,20.2822741 8.70621241,24.9354122 C8.70621241,29.578913 10.2621871,33.3969148 13.4633396,36.60777 C16.664492,39.8189006 20.3811005,41.38041 24.8261544,41.38041 C25.0394182,41.38041 25.2499373,41.3738016 25.4604564,41.3671932 C25.4555159,41.3132246 25.4519478,41.259256 25.4475562,41.2061135 C25.192024,37.9322031 25.1379532,35.2122967 25.8084853,36.3095661 C26.0453535,36.6975341 26.2811239,37.0640248 26.5160709,37.4167481 C27.3927305,38.7312685 28.2600581,39.8131183 29.1235431,40.7102083 C29.1669095,40.7550903 29.2102758,40.798871 29.2541912,40.8429269 C32.4138985,44.0603906 35.5242011,44.8520216 38.8307503,45.6659559 C38.9012893,45.6838536 38.9715538,45.7012007 39.0418183,45.7182724 C39.5830747,45.8520924 40.1298204,45.9875646 40.6831535,46.1359782 C44.6130258,47.1880902 48.8689693,48.8842456 53.8357921,55.0597933 M42.9316179,35.2626857 C42.4433344,35.1195038 42.0782883,35.2260642 41.8982355,35.5564841 C41.6254116,36.0562442 41.8268731,37.0450257 42.377187,37.9065955 C42.9349116,38.7794547 43.4078247,39.221942 43.7843986,39.221942 C43.9142232,39.221942 44.0303244,39.1671474 44.1206252,39.0641666 C44.3300464,38.82296 44.399213,38.317693 44.3111079,37.6786058 C44.2227284,37.0254758 43.8230989,35.6820437 42.9316179,35.2626857 M37.4273814,39.3378644 C36.9283935,39.3378644 36.5122958,39.5124362 36.2562146,39.8293639 C35.600504,40.6402694 35.8952856,42.0679587 36.8995741,42.9482523 C37.3379039,43.3320901 37.9691866,43.5620073 38.5889416,43.5620073 C39.2199499,43.5620073 39.7463848,43.3243803 40.0713582,42.893733 C40.6557064,42.1081598 40.3194797,40.9946447 39.2152839,40.0579044 C38.6685381,39.5939398 38.0336873,39.3378644 37.4273814,39.3378644"
                                                  id="Shape"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
            <div class="payment-methods__text">Приват24</div>
        </a>
        <a class="payment-methods__item" href="#">
            <div class="payment-methods__icon-wrap">
                <div class="payment-methods__icon payment-methods__icon--gray">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14px" height="14px" viewBox="0 0 22 22">
                        <g fill="none" fill-rule="evenodd">
                            <path d="M0 0h24v24H0z"/>
                            <path fill="#D7D9DC" fill-rule="nonzero" d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zm6.93 6h-2.95a15.65 15.65 0 0 0-1.38-3.56A8.03 8.03 0 0 1 18.92 8zM12 4.04c.83 1.2 1.48 2.53 1.91 3.96h-3.82c.43-1.43 1.08-2.76 1.91-3.96zM4.26 14C4.1 13.36 4 12.69 4 12s.1-1.36.26-2h3.38c-.08.66-.14 1.32-.14 2 0 .68.06 1.34.14 2H4.26zm.82 2h2.95c.32 1.25.78 2.45 1.38 3.56A7.987 7.987 0 0 1 5.08 16zm2.95-8H5.08a7.987 7.987 0 0 1 4.33-3.56A15.65 15.65 0 0 0 8.03 8zM12 19.96c-.83-1.2-1.48-2.53-1.91-3.96h3.82c-.43 1.43-1.08 2.76-1.91 3.96zM14.34 14H9.66c-.09-.66-.16-1.32-.16-2 0-.68.07-1.35.16-2h4.68c.09.65.16 1.32.16 2 0 .68-.07 1.34-.16 2zm.25 5.56c.6-1.11 1.06-2.31 1.38-3.56h2.95a8.03 8.03 0 0 1-4.33 3.56zM16.36 14c.08-.66.14-1.32.14-2 0-.68-.06-1.34-.14-2h3.38c.16.64.26 1.31.26 2s-.1 1.36-.26 2h-3.38z"/>
                        </g>
                    </svg>
                </div>
            </div>
            <div class="payment-methods__logo">
                <svg width="69px" height="70px" viewBox="0 0 48 49" version="1.1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 44.1 (41455) - http://www.bohemiancoding.com/sketch -->
                    <title>Combined Shape</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Modal" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="01_mobile-views" transform="translate(-941.000000, -1135.000000)" fill="#F7931A">
                            <g id="w-basic" transform="translate(880.000000, 744.000000)">
                                <g id="systems" transform="translate(20.000000, 218.000000)">
                                    <g id="item" transform="translate(0.000000, 150.000000)">
                                        <path d="M88.2816312,53.3954534 C85.0757898,66.1551605 72.0521527,73.9205471 59.192033,70.7386217 C46.3371639,67.5574406 38.5115804,54.633241 41.718922,41.8742782 C44.9232633,29.1130826 57.9469004,21.3469516 70.8032697,24.5281327 C83.6626393,27.7093138 91.4874727,40.635002 88.2816312,53.3954534 L88.2816312,53.3954534 Z M75.5827787,44.2404399 C76.0605796,41.0711677 73.6288206,39.367442 70.3037165,38.2308806 L71.3823313,33.9377003 L68.7488008,33.286429 L67.698689,37.4664742 C67.0063653,37.2952829 66.2952895,37.1337676 65.5887143,36.9737409 L66.6463269,32.7661562 L64.0142966,32.114885 L62.9349316,36.4065767 C62.3618706,36.2770667 61.7993107,36.1490454 61.2532525,36.0143253 L61.2562528,36.0009277 L57.624366,35.1010569 L56.9237914,37.8922195 C56.9237914,37.8922195 58.8777495,38.3365726 58.8364951,38.3641121 C59.9031087,38.6283421 60.0958793,39.3287379 60.0636258,39.8839932 L58.834995,44.7748545 C58.9085028,44.7934622 59.0037629,44.8202574 59.1087741,44.8619388 C59.0210148,44.8403538 58.9272548,44.8165358 58.8304945,44.7934622 L57.1083111,51.6448362 C56.9777972,51.9663781 56.6470119,52.448691 55.9014325,52.2655908 C55.9276853,52.3035506 53.9872286,51.7914653 53.9872286,51.7914653 L52.6798394,54.7828473 L56.1069544,55.6306165 C56.7445223,55.7891545 57.3693389,55.9551356 57.9844044,56.1114407 L56.8945383,60.4537455 L59.5250685,61.1050168 L60.6044334,56.8088593 C61.32301,57.0023799 62.0205842,57.1810143 62.7031569,57.3492283 L61.6275424,61.6252895 L64.2610729,62.2765608 L65.350939,57.9424435 C69.8416672,58.7857467 73.2185269,58.445597 74.6399283,54.4151582 C75.7853003,51.1699664 74.5829222,49.2980266 72.2201706,48.0773581 C73.9408538,47.6836181 75.2369919,46.5604543 75.5827787,44.2404399 L75.5827787,44.2404399 Z M69.5656378,52.6131835 C68.7518012,55.8583753 63.2454647,54.1040366 61.4602746,53.6641493 L62.9064286,47.911377 C64.6916187,48.3534972 70.4162284,49.2288058 69.5656378,52.6131835 Z M70.3802246,44.1935483 C69.6376455,47.145482 65.0546574,45.6456972 63.5679991,45.2780081 L64.8791387,40.0603947 C66.365797,40.4280838 71.153557,41.1143377 70.3802246,44.1935483 Z"
                                              id="Combined-Shape"></path>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
            <div class="payment-methods__text">BitCoin</div>
        </a>
        <a class="payment-methods__item" href="#">
            <div class="payment-methods__icon-wrap">
            </div>
            <div class="payment-methods__logo">
                <svg width="70px" height="70px" viewBox="0 0 39 51" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 44.1 (41455) - http://www.bohemiancoding.com/sketch -->
                    <title>Yandex.Money</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Modal" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="01_mobile-views" transform="translate(-1096.000000, -1130.000000)">
                            <g id="w-basic" transform="translate(880.000000, 744.000000)">
                                <g id="systems" transform="translate(20.000000, 218.000000)">
                                    <g id="item" transform="translate(150.000000, 150.000000)">
                                        <g id="Yandex.Money" transform="translate(46.000000, 18.000000)">
                                            <g id="Yandex.Money-03">
                                                <path d="M38.9070638,50.8880603 C27.3531064,50.8880603 15.7991489,50.8633295 4.24531003,50.907703 C1.76519453,50.9171694 0.0979148936,49.0610534 0.118659574,46.8207216 C0.186465046,39.5070139 0.164297872,32.1922413 0.130987842,24.8781787 C0.121860182,22.8466984 0.812006079,21.1574269 2.18115502,19.6945197 C3.74079939,18.0280858 5.58257143,16.7017309 7.3842766,15.3241392 C13.8256778,10.3992668 20.165845,5.3457703 26.5292462,0.32161949 C26.6345106,0.238552204 26.7421459,0.158443155 26.949,0.000118329466 C26.949,7.0034478 26.949,13.9078538 26.9488815,20.8121415 C26.9440213,21.0682065 26.9350122,21.3243898 26.9350122,21.5804548 C26.9340638,25.1684408 26.9312188,28.7564269 26.9392796,32.344413 C26.9401094,32.7059095 26.8664954,32.9610278 26.5311429,33.1806473 C25.5112158,33.8486172 24.5264954,34.5695986 23.5177112,35.2549629 C18.6677234,38.5497285 13.8139422,41.8389327 8.96253191,45.1316868 C7.69924012,45.9892204 6.43997872,46.8526705 5.12334347,47.7512645 C5.41661398,47.8432065 5.59134347,47.7116241 5.76666565,47.6549443 C8.98884802,46.6141183 12.2077112,45.563116 15.4275228,44.5148353 C21.0064195,42.698478 26.5837751,40.8776241 32.1676505,39.076413 C32.5875228,38.9409258 32.7576292,38.7791694 32.7560881,38.3108213 C32.7377143,32.4951647 32.7432857,26.6795081 32.742693,20.8638515 C34.7974833,20.8534385 36.852155,20.8429072 38.9069453,20.8324942 C38.9070638,30.8509768 38.9070638,40.8695777 38.9070638,50.8880603 Z M21.7391216,20.6675429 C21.7464711,19.2497193 20.8243404,18.4139582 19.4918207,18.6306195 C17.5924377,18.9395777 15.8120699,20.9845476 15.772003,22.9033782 C15.7413009,24.3730302 16.7446322,25.2251206 18.182535,24.950478 C20.0137568,24.6009327 21.7295198,22.5347819 21.7391216,20.6675429 Z" id="Shape" fill="#F2CB00" fill-rule="nonzero"></path>
                                                <path d="M32.7428116,20.8638515 C32.7434043,26.6795081 32.7379514,32.4951647 32.7562067,38.3108213 C32.7576292,38.7791694 32.5876413,38.9409258 32.167769,39.076413 C26.5840122,40.8776241 21.006538,42.698478 15.4276413,44.5148353 C12.2078298,45.563116 8.98896657,46.6141183 5.76678419,47.6549443 C5.59146201,47.7116241 5.41673252,47.8432065 5.12346201,47.7512645 C6.43997872,46.8526705 7.69924012,45.9892204 8.96265046,45.1316868 C13.8139422,41.8388144 18.6678419,38.5497285 23.5178298,35.2549629 C24.526614,34.5697169 25.5113343,33.8486172 26.5312614,33.1806473 C26.866614,32.9610278 26.9401094,32.7059095 26.9393982,32.344413 C26.9312188,28.7564269 26.9341824,25.1684408 26.9351307,21.5804548 C26.9351307,21.3242715 26.9441398,21.0682065 26.949,20.8121415 C28.6641702,20.8205429 30.3793404,20.8279977 32.0943921,20.8382923 C32.3106109,20.8394756 32.5267112,20.8549768 32.7428116,20.8638515 Z" id="Shape" fill="#CAAA00" fill-rule="nonzero"></path>
                                                <path d="M21.7391216,20.6675429 C21.7295198,22.5347819 20.0137568,24.6009327 18.182535,24.9505963 C16.7446322,25.2251206 15.7413009,24.3730302 15.772003,22.9034965 C15.8120699,20.9846659 17.5924377,18.9395777 19.4918207,18.6307378 C20.8243404,18.4139582 21.7464711,19.2497193 21.7391216,20.6675429 Z" id="Shape" fill="#030200" fill-rule="nonzero"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
            <div class="payment-methods__text">Яндекс.Деньги</div>
        </a>
        <a class="payment-methods__item" href="#">
            <div class="payment-methods__icon-wrap">
                <div class="payment-methods__icon payment-methods__icon--green"><span>0%</span></div>
            </div>
            <div class="payment-methods__logo">
                <svg width="70px" height="70px" viewBox="0 0 48 48" version="1.1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 44.1 (41455) - http://www.bohemiancoding.com/sketch -->
                    <title>WebMoney logo blue_8 [Converted]-02</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Modal" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="01_mobile-views" transform="translate(-941.000000, -986.000000)" fill="#006BB3">
                            <g id="w-basic" transform="translate(880.000000, 744.000000)">
                                <g id="systems" transform="translate(20.000000, 218.000000)">
                                    <g id="item">
                                        <g id="WebMoney-logo-blue_8-[Converted]-02"
                                           transform="translate(41.000000, 24.000000)">
                                            <path d="M24.0035397,0 C27.7725144,0 31.3419239,0.877059518 34.5209216,2.43503879 C35.0203192,2.67185939 35.5187481,2.93289478 36.0176613,3.22008213 L33.8079116,5.19746148 L30.4879588,1.76525784 L24.8846302,6.7627052 L21.5564429,3.13097172 L11.1184997,12.5379315 L17.8097497,19.9113335 L15.180041,22.2233612 L21.771024,29.6079021 L19.1572999,31.9150868 L28.5756194,42.397183 L34.1663541,37.2510569 L39,42.765732 C38.0389865,43.5130003 36.9917531,44.2161977 35.8379557,44.8661225 C32.3421723,46.8589993 28.3024281,48 24.0035397,48 C10.7828231,47.9995157 0,37.2176405 0,24.0007264 C0,10.7809066 10.7828231,0 24.0035397,0 L24.0035397,0 Z"
                                                  id="Shape"></path>
                                            <polygon id="Shape"
                                                     points="19 23.2121807 24.7883104 18 30 23.7897839 24.2126719 29"></polygon>
                                            <polygon id="Shape"
                                                     points="23 32.2107073 28.788052 27 34 32.7878193 28.2124392 38"></polygon>
                                            <polygon id="Shape"
                                                     points="16 12.2114053 21.7888532 7 27 12.7885947 21.2111468 18"></polygon>
                                            <polygon id="Shape"
                                                     points="26 9.78924808 30.2098244 6 34 10.2093231 29.7901756 14"></polygon>
                                            <polygon id="Shape"
                                                     points="33 27.7906769 37.2105013 24 41 28.2102756 36.7909275 32"></polygon>
                                            <polygon id="Shape"
                                                     points="37 35.7916046 41.2083954 32 45 36.2098244 40.7901756 40"></polygon>
                                            <polygon id="Shape"
                                                     points="39 16.8429796 42.1575563 14 45 17.1575563 41.8440514 20"></polygon>
                                            <polygon id="Shape"
                                                     points="35 8.84244373 38.1572743 6 41 9.15755627 37.8421899 12"></polygon>
                                            <polygon id="Shape"
                                                     points="42 24.8424437 45.1575563 22 48 25.1570204 44.8429796 28"></polygon>
                                            <polygon id="Shape"
                                                     points="30 18.7916046 34.2098244 15 38 19.2098244 33.7916046 23"></polygon>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
            <div class="payment-methods__text">WebMoney</div>
        </a>
        <a class="payment-methods__item" href="#">
            <div class="payment-methods__icon-wrap">
                <div class="payment-methods__icon payment-methods__icon--blue tooltip--hover">
                    <svg width="12px" height="12px" viewBox="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink">
                        <!-- Generator: Sketch 44.1 (41455) - http://www.bohemiancoding.com/sketch -->
                        <title>Icon / Badge External Systems</title>
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="Modal" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="01_mobile-views" transform="translate(-1003.000000, -1127.000000)">
                                <g id="w-basic" transform="translate(880.000000, 744.000000)">
                                    <g id="systems" transform="translate(20.000000, 218.000000)">
                                        <g id="item" transform="translate(0.000000, 150.000000)">
                                            <g id="tag" transform="translate(99.000000, 11.000000)">
                                                <g id="Icon-/-Badge-External-Systems"
                                                   transform="translate(2.000000, 2.000000)">
                                                    <g id="ic_launch_black_24px">
                                                        <polygon id="Shape" points="0 0 16 0 16 16 0 16"></polygon>
                                                        <path d="M12.6666667,12.6666667 L3.33333333,12.6666667 L3.33333333,3.33333333 L8,3.33333333 L8,2 L3.33333333,2 C2.59333333,2 2,2.6 2,3.33333333 L2,12.6666667 C2,13.4 2.59333333,14 3.33333333,14 L12.6666667,14 C13.4,14 14,13.4 14,12.6666667 L14,8 L12.6666667,8 L12.6666667,12.6666667 Z M9.33333333,2 L9.33333333,3.33333333 L11.7266667,3.33333333 L5.17333333,9.88666667 L6.11333333,10.8266667 L12.6666667,4.27333333 L12.6666667,6.66666667 L14,6.66666667 L14,2 L9.33333333,2 Z"
                                                              id="Shape" fill="#0055CC" fill-rule="nonzero"></path>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                    <div class="tooltip tooltip--right">
                        <div class="tooltip__title">Прямая переадресация</div>
                        <div class="tooltip__description">
                            При выборе этого способа валюты вы будете сразу переадресованы на сайт системы
                        </div>
                    </div>
                </div>
            </div>
            <div class="payment-methods__logo">
                <svg width="70px" height="70px" viewBox="0 0 48 48" version="1.1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 44.1 (41455) - http://www.bohemiancoding.com/sketch -->
                    <title>WebMoney logo blue_8 [Converted]-02</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Modal" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="01_mobile-views" transform="translate(-941.000000, -986.000000)" fill="#006BB3">
                            <g id="w-basic" transform="translate(880.000000, 744.000000)">
                                <g id="systems" transform="translate(20.000000, 218.000000)">
                                    <g id="item">
                                        <g id="WebMoney-logo-blue_8-[Converted]-02"
                                           transform="translate(41.000000, 24.000000)">
                                            <path d="M24.0035397,0 C27.7725144,0 31.3419239,0.877059518 34.5209216,2.43503879 C35.0203192,2.67185939 35.5187481,2.93289478 36.0176613,3.22008213 L33.8079116,5.19746148 L30.4879588,1.76525784 L24.8846302,6.7627052 L21.5564429,3.13097172 L11.1184997,12.5379315 L17.8097497,19.9113335 L15.180041,22.2233612 L21.771024,29.6079021 L19.1572999,31.9150868 L28.5756194,42.397183 L34.1663541,37.2510569 L39,42.765732 C38.0389865,43.5130003 36.9917531,44.2161977 35.8379557,44.8661225 C32.3421723,46.8589993 28.3024281,48 24.0035397,48 C10.7828231,47.9995157 0,37.2176405 0,24.0007264 C0,10.7809066 10.7828231,0 24.0035397,0 L24.0035397,0 Z"
                                                  id="Shape"></path>
                                            <polygon id="Shape"
                                                     points="19 23.2121807 24.7883104 18 30 23.7897839 24.2126719 29"></polygon>
                                            <polygon id="Shape"
                                                     points="23 32.2107073 28.788052 27 34 32.7878193 28.2124392 38"></polygon>
                                            <polygon id="Shape"
                                                     points="16 12.2114053 21.7888532 7 27 12.7885947 21.2111468 18"></polygon>
                                            <polygon id="Shape"
                                                     points="26 9.78924808 30.2098244 6 34 10.2093231 29.7901756 14"></polygon>
                                            <polygon id="Shape"
                                                     points="33 27.7906769 37.2105013 24 41 28.2102756 36.7909275 32"></polygon>
                                            <polygon id="Shape"
                                                     points="37 35.7916046 41.2083954 32 45 36.2098244 40.7901756 40"></polygon>
                                            <polygon id="Shape"
                                                     points="39 16.8429796 42.1575563 14 45 17.1575563 41.8440514 20"></polygon>
                                            <polygon id="Shape"
                                                     points="35 8.84244373 38.1572743 6 41 9.15755627 37.8421899 12"></polygon>
                                            <polygon id="Shape"
                                                     points="42 24.8424437 45.1575563 22 48 25.1570204 44.8429796 28"></polygon>
                                            <polygon id="Shape"
                                                     points="30 18.7916046 34.2098244 15 38 19.2098244 33.7916046 23"></polygon>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
            <div class="payment-methods__text">LiqPay</div>
        </a>
    </div>
</template>

<style scope lang="scss">
    .payment-methods__items {
        display: flex;
        flex-flow: row wrap;

        .payment-methods__item {
            padding: 11px;
            width: 172px;
            height: 172px;
            border-radius: 4px;
            background-color: #ffffff;
            box-shadow: 0 1px 1px 0 rgba(215, 216, 219, 0.5);
            display: flex;
            align-items: center;
            flex-direction: column;
            position: relative;
            box-sizing: border-box;
            margin-left: 20px;
            margin-top: 20px;

            &:nth-child(4n+1) {
                margin-left: 0;
            }

            .payment-methods__icon-wrap {
                margin-left: auto;
                height: 21px;

                .payment-methods__icon {
                    padding: 3px 5px 0 4px;
                    margin-bottom: 4px;
                    border-radius: 4px;
                    border: solid 1px;
                    line-height: 1.25;
                }

                .payment-methods__icon--blue {
                    color: #0055cc;
                    border-color: rgba(0, 85, 204, 0.25);
                }

                .payment-methods__icon--green {
                    color: #13bf4c;
                    border-color: rgba(19, 191, 76, 0.25);
                }

                .payment-methods__icon--gray {
                    color: #d7d9dc;
                    border-color: rgba(215, 217, 220, 0.5);
                }

                .tooltip--hover:hover .tooltip {
                    display: block;
                }
            }

            .payment-methods__text {
                font-size: 16px;
                line-height: 1.25;
                color: #2d3440;
                bottom: 20px;
                position: absolute;
            }

            &:hover {
                box-shadow: 0 5px 10px 0 rgba(45, 52, 64, 0.2);
            }
        }
    }

    @media (min-width: 1024px) {
        .payment-methods {
            .payment-methods__item {
                &:nth-child(4n+1) {
                    margin-left: 20px;
                }
                &:nth-child(5n+1) {
                    margin-left: 0;
                }
            }
        }
    }
</style>
