<template>
    <div class="payment-methods__tabs">
        <ul class="payment-methods__points">
            <li>Все способы оплаты</li>
            <li>Наличные</li>
            <li>Безналичные</li>
            <li>Электонные</li>
        </ul>
        <ul class="payment-methods__search">
            <li v-show="!searchIsFocus">
                <svg class="location-icon" width="20px" height="20px" viewBox="0 0 20 20" version="1.1"
                     xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 44.1 (41455) - http://www.bohemiancoding.com/sketch -->
                    <title>Icon / Location Filter</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Modal" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="01_mobile-views" transform="translate(-1100.000000, -912.000000)">
                            <g id="w-basic" transform="translate(880.000000, 744.000000)">
                                <g id="filter" transform="translate(20.000000, 158.000000)">
                                    <g id="search" transform="translate(190.000000, 0.000000)">
                                        <g id="Icon-/-Location-Filter-Disabled"
                                           transform="translate(8.000000, 8.000000)">
                                            <g id="ic_language_black_24px">
                                                <polygon id="Shape" points="0 0 24 0 24 24 0 24"></polygon>
                                                <path d="M11.99,2 C6.47,2 2,6.48 2,12 C2,17.52 6.47,22 11.99,22 C17.52,22 22,17.52 22,12 C22,6.48 17.52,2 11.99,2 Z M18.92,8 L15.97,8 C15.65,6.75 15.19,5.55 14.59,4.44 C16.43,5.07 17.96,6.35 18.92,8 Z M12,4.04 C12.83,5.24 13.48,6.57 13.91,8 L10.09,8 C10.52,6.57 11.17,5.24 12,4.04 Z M4.26,14 C4.1,13.36 4,12.69 4,12 C4,11.31 4.1,10.64 4.26,10 L7.64,10 C7.56,10.66 7.5,11.32 7.5,12 C7.5,12.68 7.56,13.34 7.64,14 L4.26,14 Z M5.08,16 L8.03,16 C8.35,17.25 8.81,18.45 9.41,19.56 C7.57,18.93 6.04,17.66 5.08,16 L5.08,16 Z M8.03,8 L5.08,8 C6.04,6.34 7.57,5.07 9.41,4.44 C8.81,5.55 8.35,6.75 8.03,8 L8.03,8 Z M12,19.96 C11.17,18.76 10.52,17.43 10.09,16 L13.91,16 C13.48,17.43 12.83,18.76 12,19.96 Z M14.34,14 L9.66,14 C9.57,13.34 9.5,12.68 9.5,12 C9.5,11.32 9.57,10.65 9.66,10 L14.34,10 C14.43,10.65 14.5,11.32 14.5,12 C14.5,12.68 14.43,13.34 14.34,14 Z M14.59,19.56 C15.19,18.45 15.65,17.25 15.97,16 L18.92,16 C17.96,17.65 16.43,18.93 14.59,19.56 L14.59,19.56 Z M16.36,14 C16.44,13.34 16.5,12.68 16.5,12 C16.5,11.32 16.44,10.66 16.36,10 L19.74,10 C19.9,10.64 20,11.31 20,12 C20,12.69 19.9,13.36 19.74,14 L16.36,14 Z"
                                                      id="Shape" fill="#13BF4C" fill-rule="nonzero"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
                <div class="tooltip tooltip--bottom">
                    <div class="tooltip__title">Только локальные способы оплаты</div>
                    <div class="tooltip__description">
                        Включите эту опцию, чтобы отобразить все доступные способы, независимо от вашего местоположения
                    </div>
                </div>
            </li>
            <li class="payment-methods__search-tab" v-bind:class="{'payment-methods__search-tab--open': searchIsFocus}">
                <svg width="18px" height="18px" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 44.1 (41455) - http://www.bohemiancoding.com/sketch -->
                    <title>ic_search_black_24px</title>
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Modal" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="01_mobile-views" transform="translate(-1151.000000, -913.000000)">
                            <g id="w-basic" transform="translate(880.000000, 744.000000)">
                                <g id="filter" transform="translate(20.000000, 158.000000)">
                                    <g id="search" transform="translate(240.000000, 0.000000)">
                                        <g id="ic_search_black_24px" transform="translate(8.000000, 8.000000)">
                                            <path d="M15.5,14 L14.71,14 L14.43,13.73 C15.41,12.59 16,11.11 16,9.5 C16,5.91 13.09,3 9.5,3 C5.91,3 3,5.91 3,9.5 C3,13.09 5.91,16 9.5,16 C11.11,16 12.59,15.41 13.73,14.43 L14,14.71 L14,15.5 L19,20.49 L20.49,19 L15.5,14 L15.5,14 Z M9.5,14 C7.01,14 5,11.99 5,9.5 C5,7.01 7.01,5 9.5,5 C11.99,5 14,7.01 14,9.5 C14,11.99 11.99,14 9.5,14 Z"
                                                  id="Shape" fill="#B4B5B8" fill-rule="nonzero"></path>
                                            <polygon id="Shape" points="0 0 24 0 24 24 0 24"></polygon>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
                <input-search-component :focusSearchProp="focusSearch" :blurSearchProp="blurSearch">
                </input-search-component>
            </li>
        </ul>
        <div class="payment-methods__border"></div>
    </div>
</template>

<script>
  import InputSearchComponent from './InputSearchComponent.vue'

  export default {
    data () {
      return {searchIsFocus: false}
    },
    methods: {
      focusSearch: function () {
        this.searchIsFocus = true
      },
      blurSearch: function () {
        this.searchIsFocus = false
      }
    },
    components: {
      InputSearchComponent
    }
  }
</script>

<style scoped lang="scss">
    .payment-methods__tabs {
        display: flex;
        justify-content: space-between;
        font-family: SF-UI-Text-Regular;
        width: 100%;
        line-height: 1.33;
        color: #2d3440;
        position: relative;
    }

    .payment-methods__points {
        display: flex;
        justify-content: space-between;
        width: 460px;

        li {
            cursor: pointer;
            padding-bottom: 12px;
            border-bottom: 2px solid transparent;
            &:hover {
                border-color: #0055cc;
                text-shadow: 0 0.015em #0055cc, 0 -0.015em #0055cc, 0.01em 0 #0055cc, -0.01em 0 #0055cc;
                color: #0055cc;
                z-index: 1;
            }
        }
    }

    .payment-methods__search {
        display: flex;
        justify-content: space-between;
        width: 172px;

        li {
            display: flex;
            align-items: flex-start;
            position: relative;
        }

        .payment-methods__search-tab--open {
            width: 100%;
            padding-bottom: 9px;
            border-bottom: 2px solid #0055cc;
            z-index: 1;

            .text-input {
                width: 100%;
            }
        }

        .location-icon:hover + .tooltip {
            display: block;
        }
    }

    .payment-methods__border {
        position: absolute;
        width: 100%;
        top: 27px;
        height: 2px;
        background-color: #d7d9dc;
    }
</style>
