<template>
    <div id="app">
        <PaymentMethods></PaymentMethods>
    </div>
</template>

<script>
  import PaymentMethods from './components/PaymentMethods/PaymentMethodsComponent'

  export default {
    name: 'app',
    components: {
      PaymentMethods
    }
  }
</script>

<style lang="scss">
    @font-face {
        font-family: SF-UI-Text-Regular;
        src: url(./assets/fonts/SF-UI-Text-Regular.ttf);
    }

    @font-face {
        font-family: SF-UI-Text-Bold;
        src: url(./assets/fonts/SF-UI-Text-Bold.ttf);
    }

    @font-face {
        font-family: SF-UI-Text-Semibold;
        src: url(./assets/fonts/SF-UI-Text-Semibold.ttf);
    }

    body, ul {
        margin: 0;
        padding: 0;
        font-size: 12px;
        font-family: SF-UI-Text-Regular;
        background-color: #f8f9fa;
    }

    a {
        text-decoration: none;
    }

    li {
        list-style-type: none;
    }

    #app {
        width: 960px;
        margin: 0 auto;
    }

    .tooltip {
        position: absolute;
        width: 280px;
        border-radius: 4px;
        background-color: #2d3440;
        line-height: 1.33;
        color: #ffffff;
        padding: 15px;
        box-sizing: border-box;
        display: none;
        z-index: 1000;

        &:before {
            content: '';
            position: absolute;
            width: 8px;
            height: 8px;
            transform: rotate(45deg);
            background-color: #2d3440;
        }

        &.tooltip--right {
            left: 171px;
            top: 0;

            &:before {
                left: -3px;
                top: 17px;
            }
        }

        &.tooltip--bottom {
            top: 27px;
            left: -130px;

            &:before {
                left: 136px;
                top: -4px;
            }
        }

        .tooltip__title {
            font-family: SF-UI-Text-Bold;
            margin-bottom: 5px;
        }
    }
</style>
